'scopeName': 'source.synchrony'
'name': 'Synchrony'
'fileTypes': ['syc']
'patterns': [
  {
    'match': '\#.*$'
    'name': 'comment.synchrony'
  }
  {
    'match': '\\b(require)\\b'
    'name': 'keyword.require.synchrony'
  }
  {
    'match': '\\b(circuit|end)\\b'
    'name': 'keyword.structure.synchrony'
  }
  {
    'match': '\\b(input|output)\\b'
    'name': 'keyword.io.synchrony'
  }
  {
    'match': '\\b(wire)\\b'
    'name': 'keyword.wire.synchrony'
  }
  {
    'match': '\\b(init)\\b'
    'name': 'keyword.init.synchrony'
  }
  {
    'match': '\\b(instance|map)\\b'
    'name': 'keyword.instance.synchrony'
  }
  {
    'match': '\\b(bit|bits|int|uint)\\b'
    'name': 'keyword.type.synchrony'
  }
]
